/* All styles for your Card Components live here */

.cardContainer {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.cardBanner {
    width: 80%;
    height: 38%;
    background: url('./reactbackground.png') no-repeat;
    background-size: contain;
    margin-left: 20%;

}